/* body {
    background: 
      linear-gradient(
        135deg,              
        #FF0000 0%,          
        #FF6B00 25%,        
        #1E3A8A 50%,         
        #FF6B00 75%,         
        #FF0000 100%         
      );
    min-height: 100vh;
    margin: 0;
    background-attachment: fixed;

  } */

  body {
    background: linear-gradient(
      135deg,
      #FF0000,
      #FF6B00,
      #1E3A8A,
      #FF6B00,
      #FF0000
    );
    background-size: 300% 300%;
    animation: gradientFlow 120s ease infinite;
    min-height: 100vh;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: Georgia, sans-serif;
  }
  
  @keyframes gradientFlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }