body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    padding: 1em 0.6em 1em;
    border-radius: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
}

.container :is(input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea) {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0.2em 0 0.7em;
    border: 1px solid #999;
    border-radius: 3px;
}

.container input {
    padding: 0.3em 0 0.3em 0.5em;
}

.container textarea {
    padding-left: 0.5em;
    min-height: 7em;
    resize: vertical;
}

.container :is(input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea):focus {
    appearance: none;
    outline: none;
    border-color: #3593ff;
}

fieldset {
    border: none;
    margin: 2em auto;
}

fieldset > div {
    margin-bottom: 0.7em;
}

fieldset legend {
    text-align: center;
}

legend {
    font-size: 1.4em;
}

h1 {
    text-align: center;
    margin: 1em 0;
}

p {
    margin: 0;
    padding: 0;
}

fieldset div:last-of-type {
    margin-top: 1.5em;
    padding: 1em;
    background-color: #f5f5f5;
    border-left: 4px solid #3593ff;
}

.add-member-btn {
    margin-top: 1em;
}

.submit-form {
    width: 80%;
    display: block;
    margin: 2em auto 1em;
}
