body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    padding: 0 1.2em 0;
    border-radius: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

fieldset {
    border: none;
    margin: 2em auto;
}

h1 {
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
}

legend {
    font-size: 1.4em;
}

/* Но я не знаю как это делать, если будут новые участники добавляться */
/* :is(.sup-email,
.sup-phone,
.member-email,
.member-phone) input {
    display: inblock;
}

:is(.fullname,
.sup-age,
.sup-experience,
.sup-email,
.sup-phone,
.sup-medical-desclosure,
.sup-more-info,
.member-sullname,
.member-age,
.member-experience,
.member-email,
.member-phone,
.member-medial-desclosure,
.member-more-info) label {
    display: block;
    margin: 0;
} */

.fullname input {
    width: 100%;
}

textarea {
    display: block;
    width: 100%;
}