body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    padding: 1em .6em 1em;
    border-radius: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

fieldset {
    border: none;
    margin: 2em auto;
}

fieldset legend {
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 1;
    margin-bottom: 1em;
}

p {
    margin: 0;
    padding: 0;
}

legend {
    font-size: 1.4em;
}

.container input {
    padding: 0.3em 0;
    margin: 0.2em 0 0.7em;
}

.container textarea {
    margin: 0.2em  0 0.7em;
}

:is(input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"]) {
    display: block;
    width: 100%;
}

textarea {
    display: block;
    width: 100%;
}

fieldset div:last-of-type {
    margin-top: 1.5em;
    padding: 1em;
    background-color: #f5f5f5;
    border-radius: 8px;
    border-left: 4px solid #4a90e2;
}

.add-member-btn {
    margin-top: 1em;
}

.submit-form {
    width: 80%;
    display: block;
    margin: 2em auto 1em;
}