body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    padding: 1em 0.6em 1em;
    border-radius: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
}

.container :is(input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea) {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0.2em 0 0.7em;
    border: 1px solid #999;
    border-radius: 3px;
}

.container input {
    padding: 0.3em 0 0.3em 0.5em;
}

.container textarea {
    padding-left: 0.5em;
    min-height: 7em;
    resize: vertical;
}

.container :is(input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea):focus {
    appearance: none;
    outline: none;
    border-color: #3593ff;
}

fieldset {
    border: none;
    margin: 2em auto;
}

fieldset > div {
    margin-bottom: 0.7em;
}

fieldset legend {
    text-align: center;
}

legend {
    font-size: 1.4em;
}

h1 {
    text-align: center;
    margin: 1em 0;
}

p {
    margin: 0;
    padding: 0;
}

fieldset div:last-of-type {
    margin-top: 1.5em;
    padding: 1em;
    background-color: #f5f5f5;
    border-left: 4px solid #3593ff;
}

.add-member-btn {
    margin-top: 1em;
}

.submit-form {
    width: 80%;
    display: block;
    margin: 2em auto 1em;
}

input[type='radio'] {
    appearance: none;
    width: 1.1em;
    height: 1.1em;
    margin: 0;
    border: 2px solid #d0e6ff;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

input[type='radio']::before {
    content: '';
    position: absolute;
    inset: 50%;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #2a8eff;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease;
}

input[type='radio']:checked::before {
    transform: translate(-50%, -50%) scale(1);
}

input[type='radio']:checked {
    border-color: #2a8eff;
    background-color: #fff;
}

input[type='radio']:hover {
    border-color: #2a8eff;
}

:is(.sup-experience,
.sup-sex,
.member-experience,
.member-sex) label:hover {
    cursor: pointer;
}