body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    padding: 0 1.2em 0;
    border-radius: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

fieldset {
    border: none;
    margin: 2em auto;
}

fieldset legend {
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
}

legend {
    font-size: 1.4em;
}

:is(input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"]) {
    display: block;
    width: 100%;
}

textarea {
    display: block;
    width: 100%;
}