body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
    padding: 1em 0.6em 1em;
    border-radius: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    background-color: #fff;
}